/* .divContainer {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
} */


header {
    z-index: 300000000000000000;
}

main {
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: -1000;
}

footer {
    z-index: 10000000;
}
