.divContainer {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}


header {
    grid-area: header;
    z-index: 10000000;
}

main {
    grid-area: main;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: -1000;
}

footer {
    grid-area: footer;
    z-index: 10000000;
}
