/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Oswald:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #E3C570;
    font-family: "Open Sans";
    height:100%;;
}
