@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Oswald:wght@700&display=swap');

.navHomeLink, .navEventsLink, .navTicketsLink, .navMyEventsLink, .navBookmarksLink {
    text-decoration: none;
    font-size: 20pt;
    color: white;
    padding: 20px;
}

.navHomeLink:link, .navEventsLink:link, .navTicketsLink:link, .navMyEventsLink:link, .navBookmarksLink:link{
    color: #E3C570;
}

/* .navHomeLink:visited, .navEventsLink:visited{
    color: #E3C570;
} */

.navHomeLink:hover, .navEventsLink:hover,.navTicketsLink:hover, .navMyEventsLink:hover, .navBookmarksLink:hover, .fa.fa-user.fa-fw:hover,.fa.fa-caret-down:hover, .navSignUp:hover{
    color: #E3C570 ;
}

.navHomeLink:active, .navEventsLink:active, .navTicketsLink:active, .navMyEventsLink:active, .navBookmarksLink:active, .fa.fa-user.fa-fw:active, .fa.fa-caret-down:active, .navSignUp:active{
    color: #E3C570;
}


.navSignUp {
    text-decoration: none;
    font-size: 20pt;
    color: white;
}

.navBar {
    position: fixed;
    top:0;
    width: 100%;
    height: 105px;
    background-color: black;
    z-index: 10000;
}

.navBarContainer{
    height: 105px;
    padding-left:50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.logoAndAuth{
    display: flex;
    align-items: center;
}

.auth2{
    padding-right: 50px;
    padding-left: 50px;
    position: fixed;
    left: 1380px;
    top: 35px;
    z-index: 10000000;
}

.auth1{
    padding-right: 50px;
    padding-left: 50px;
    position: fixed;
    left: 1450px;
    top: 35px;
    z-index: 10000000;
}

.navSignUp{
    padding-left: 10px;
}
.navLinks{
    align-self: center;
}

.dropdown-menu{
    width: 300px;
    height: 150px;
    background-color: black;
    z-index: 10000;

}

.dropdown-menu-userName, .dropdown-menu-email{
    padding-top: 10px;
    color: white;
    font-size: 15pt;
}


.dropdown-menu-logOut{
    padding-top: 10px;
    color: white;
    font-size: 15pt;
    font-family: "Open Sans";
    border: none;
    background: none;
}

.fa.fa-user.fa-fw{
    color: white;
    font-size: 20pt;

}

.fa.fa-caret-down{
    color: white;
}

.webName{
    color: white;
    font-size: 20pt;
}
