@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Oswald:wght@700&display=swap');

.navLogInButton{
    border: none;
    background: none;
    font-size: 20pt;
    color: white;
    font-family: "Open Sans";
    text-transform: uppercase;
}

.navLogInButton:hover{
    color: #E3C570;
}

.navLogInButton:active{
    color: #E3C570;
}

.btn.btn-primary{
    border: none;
    background: none;
    font-size: 20pt;
    color: white;
}

.loginTitle{
    margin-bottom: 80px;
    font-size: 40px;
    color: #6EB4EF;
}

label{
    font-size: 30px;
    color: black;
}

input {
    width: 300px;
    background:none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
}

.inputDiv1 {
    margin-left: 50px;
}

.inputDiv2 {
    margin-left: 200px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #E3C570 inset;
}

.loginButton{
    width: 110px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #6EB4EF;
    font-size: 20px;
    color:white;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 550px;
}

.inputGroup1,.inputGroup2{
    margin-top: 30px;
}

.signUpPromp{
    color: #DB2E38;
    /* padding-top: 200px; */
    font-size: 20px;
}

.errors{
    color: #DB2E38;
}
